[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kpiwidget"]
	path = kpiwidget
	url = https://github.com/arnold-kakas/kpiwidget
[submodule "paddleR"]
	path = paddleR
	url = https://github.com/arnold-kakas/paddler
